body, html {
    height: 100vh;
    margin: 0;
    font-family: "Poppins-Medium";
}

@font-face {
    font-family: "Poppins-Medium";
    src: url("fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: "Terminal-Grotesque";
    src: url("fonts/terminal-grotesque_open.otf");
}

@font-face {
    font-family: "Office-Code";
    src: url("fonts/OfficeCodePro-Light.otf");
}

@font-face {
    font-family: "Instrument-Serif";
    src: url("fonts/InstrumentSerif-Italic.ttf");
}

#landing-page {
    background-image: url("images/color-blur.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    scroll-behavior: smooth;
    height: 100vh;
}

header {
    padding-top: 1rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    /*backdrop-filter: blur(40px);
    border-radius: 30px;
    position: fixed;
    width: 100%;*/
    height: 10vh;
}

#nav-left {
    justify-content: center;
    align-items: center;
}

#nav-tabs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.5em;
    flex-wrap: wrap;
    gap: 1.5rem;
}

ul {
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
}

#nav-right {
    margin-right: 3%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 2rem;
}

#home-icon {
    display: block;
    height: 2.5rem;
    width: 2.5rem;
}

#linkedin-button {
    padding: 1em 2.75em;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    transition: 0.2s;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Poppins-Medium";
    letter-spacing: 1px;
    font-size: 0.9em;
}

button:hover {
    box-shadow: 0 0 0 4px #FFFFFF, 
    0 0 0 8px #000000;
}

#landing-container {
    display: flex;
    flex-direction: column;
}

#main-container {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#main-left {
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hello {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    font-size: 3.5em;
    padding-left: 5rem;
}

#main-right {
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-figure-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#figure {
    width: 30vw;
    height: auto;
}

#main-figure-container {
    margin-right: 6vw;
}

#about-page {
    background-image: url("images/v904-nunny-012.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    min-height: 100vh;
}

#about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    width: 100vw;
}

#about-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile {
    width: 25vw;
    border-radius: 200px;
    border: 3px solid black;
}

#about-right {
    height: 75vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

#about-text h1 {
    font-size: 3rem;
    margin-bottom: 0.25rem;
}

#about-text p {
    font-size: 1.5rem;
    margin-top: 0rem;
}

#about-text p, #about-text h1 {
    padding-right: 1rem;
}

#bit-font {
    font-family: "Terminal-Grotesque";
    font-size: 3.5rem;
}

#se-font {
    font-family: "Office-Code";
    /*color: #569CD6*/
} 
