body, html {
    height: 100vh;
    margin: 0;
    font-family: "WorkSans";
    background-color: #FFFFFF;
}

@font-face {
    font-family: "WorkSans";
    src: url("fonts/WorkSans-ExtraBold.ttf") format("truetype");
}

header {
    margin: 1em;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-left {
    justify-content: center;
    align-items: center;
}

#nav-tabs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.5em;
}

ul {
    list-style: none;
}

a {
    color: #000000;
    text-decoration: none;
}

#nav-right {
    margin-right: 3%;
    justify-content: center;
    align-items: center;
}

#linkedin-button {
    padding: 1em 2.75em;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: 0.2s;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "WorkSans";
    letter-spacing: 1px;
    font-size: 0.9em;
}

button:hover {
    box-shadow: 0 0 0 4px #FFFFFF, 
    0 0 0 8px #000000;
}

#main-container {
    display: flex;
    justify-content: space-between;
}

#main-left {
    width: 65%;
}

#main-right {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-figure-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-radius: 20px;
}

#figure {
    width: 500px;
    height: auto;
}
